<ion-view view-title="Alerts">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
            menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
            <div class="card">
                <div class="item item-divider">
                    I'm a Header in a Card!
                </div>
            </div>

        <center><h4>Recommended Options</h4></center>

        <div class="list card">

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                    This is a basic Card with some text.
                    </div>
                    <div class="col">
                        <button class="button button-positive">
                            button-positive
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <center><h4>Suggested Options</h4></center>

        <div class="list card">

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        This is a basic Card with some text.
                    </div>
                    <div class="col">
                        <button class="button button-positive">
                            button-positive
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="list card">

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        This is a basic Card with some text.
                    </div>
                    <div class="col">
                        <button class="button button-positive">
                            button-positive
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
