<ion-view view-title="Analysis">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">

                Average Monthly Spend <b>EUR 3,500</b><br>
                Current Month Spend <font color="red"><b>EUR 7,000</b></font>

            </div>
        </div>

        <center>

            <img src="../img/Red.jpg" width="200">

            <h4><font color="red">Running short of funds</font></h4>

            <p class="item item-divider">&nbsp;</p>

            <h3>Options</h3>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            Personal Loan
                        </div>
                        <div class="col">
                            <button class="button button-positive" ng-click="handleApproval()">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            Credit Card Extension
                        </div>
                        <div class="col">
                            <button class="button button-positive" ng-click="handleApproval()">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            Overdraft
                        </div>
                        <div class="col">
                            <button class="button button-positive" ng-click="handleApproval()">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </center>
    </ion-content>
</ion-view>
