<ion-view view-title="Analysis">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                I'm a Header in a Card!
            </div>
        </div>

        <center>

            <!-- TODO: Image for account record balance as an indicator -->

            <h4>Options</h4>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            This is a basic Card with some text.
                        </div>
                        <div class="col">
                            <button class="button button-positive">
                                button-positive
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            This is a basic Card with some text.
                        </div>
                        <div class="col">
                            <button class="button button-positive">
                                button-positive
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="list card">

                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">
                            This is a basic Card with some text.
                        </div>
                        <div class="col">
                            <button class="button button-positive">
                                button-positive
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </center>
    </ion-content>
</ion-view>
