<ion-view view-title="Congratulations">
    <ion-content>
        <!-- TODO: Add image for the bank -->
        <div class="card">
            <div class="item item-divider">
                I'm a Header in a Card!
            </div>
        </div>
        <div class="list padding">
            <button class="button button-block button-positive">
                Arrage for a callback
            </button>
            <div class="item item-divider">
                <center>OR</center>
            </div>
            <button class="button button-block button-positive">
                <i class="icon ion-email"></i>&nbsp;Contact by e-mail
            </button>
            <button class="button button-block button-positive">
                <i class="icon ion-android-call"></i>&nbsp;Contact by phone
            </button>
        </div>
    </ion-content>
</ion-view>
