<ion-view view-title="Dashboard">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
        menu-toggle="left">
        </button>
  </ion-nav-buttons>
  <ion-content>
      <div class="row">
          <div class="col">
                  <div class="item item-divider">
                      Name: John O' Sullivan<br>
                      Customer ID: NM123
                  </div>
          </div>
          <div class="col">
              <img src="../img/alert.jpg" width="60" ng-click="goToAlert()">
          </div>
      </div>
    <!-- 1st Account -->
    <div class="list card">

        <div class="item item-avatar item-divider">
            <img src="../img/UB.jpg">
            <h2>Ulster Bank</h2>
            <p>Current Account</p>
        </div>

        <div class="item item-text-wrap">
            Ac/No. : UB123ACD<br>
            Available Funds: EUR 1,000<br>
            Balance: EUR 1,000
        </div>

    </div>

    <!-- 2nd Account -->
    <div class="list card">

        <div class="item item-avatar item-divider">
            <img src="../img/BOI.jpg">
            <h2>Bank Of Ireland</h2>
            <p>Savings Account</p>
        </div>

        <div class="item item-text-wrap">
            Ac/No. : BOI123ACD<br>
            Available Funds: EUR 4,000<br>
            Balance: EUR 4,000
        </div>

    </div>

    <!-- 3rd Account -->
    <div class="list card">

        <div class="item item-avatar item-divider">
            <img src="../img/AIB.jpg">
            <h2>AIB</h2>
            <p>Savings Account</p>
        </div>

        <div class="item item-text-wrap">
            Ac/No. : AIB123ACD<br>
            Available Funds: EUR 5,000<br>
            Balance: EUR 5,000
        </div>

    </div>

  </ion-content>
</ion-view>
